.css-yk16xz-control {
	background-color: transparent !important;
	border-radius: 4px;
	border-color: transparent !important;
	font-size: 17px !important;
}

.css-1okebmr-indicatorSeparator {
	display: none;
}

.css-1pahdxg-control {
	border-color: transparent !important;
	box-shadow: 0 0 0 0px !important;
	background-color: transparent !important;
	margin-left: -7px;
	transform: translate(11px, 0px);
}

.css-1uccc91-singleValue {
	color: #932704 !important;
	min-width: 41px;
}

.css-2b097c-container {
	width: 105px !important;
}

.css-1gtu0rj-indicatorContainer {
	border-color: red !important;
}

.css-tj5bde-Svg {
	fill: #932704 !important;
}

.css-1wa3eu0-placeholder {
	color: #932704 !important;
}

.css-yk16xz-control {
	margin-left: -7px;
	transform: translate(11px, 0px);
}