
.bm-item {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 16px;
	color: #932704;
	transition: color 0.2s;
	font-family: 'Bookman Old Style';
	font-weight: 900;
	font-size: 22px;
	outline: none;
}

.bm-item:hover {
	color: #932704;
}

.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	right: 24px;
	top: 18px;
}

.bm-burger-bars {
	background: #373a47;
}

.bm-cross-button {
	height: 24px;
	width: 24px;
}

.bm-cross {
	background: #bdc3c7;
}

.bm-menu {
	background: #eaeaea;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

.bm-morph-shape {
	fill: #373a47;
}

.bm-item-list {
	color: #932704;
}

.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}